html {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

.background1 {
    background-color: black;
    position: relative;
    color: white;

    height: 100vh;
}

.background2 {
    background-color: white;
    position: relative;
    color: black;
}

@media screen and (max-width: 1000px), screen and (max-height: 740px) {
    .background1 {
        height: auto;
        padding-bottom: 100px;
    }

    .background2 {
        height: auto;
        padding-bottom: 100px;
    }
}

.title {
    width: 100%;
    text-align: center;
    color: white;
}

.title h1 {
    font-size: 4em;
}

.title h2 {
    font-size: 2em;
}

.whiteline {
    position: relative;
    width: 500px;
    top: -5px;
}

@media screen and (max-width: 750px) {
    .whiteline {
        width: 66%;
    }
}

.mainmenu {
    padding-top: 5%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menuoption {
    width: 400px;
    height: 100px;
    padding: 5px;
    margin: 10px;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 4px;

    border: 1px solid white;
    border-radius: 5px;

    cursor: pointer;

    transition: all .5s;
}

.menuoption:hover {
    background-color: white;
    color: black;
}

.scroll {
    position: absolute;
    bottom: 5%;
    right: 50%;
    height: 30px;
}

.bounce {
    animation: bounce 1.5s infinite;
}

.aboutme {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding-top: 30px;
    width: 70%;
    margin: auto;
}

.profilepic {
    border: 3px solid black;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;

    content: url("/assets/profile.jpg");
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-top: 30px;
    width: 70%;
    margin: auto;
}

.project {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    color: black;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;

    cursor: pointer;

    transition: all .5s;

}

.project:hover {
    background-color: grey;
    color: white;
}

.mymedia {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 10px;
}

.medialink {
    width: 48px;
    height: 48px;
    padding: 4px;
    margin: 2px;
    transition-duration: 1s;
}

.medialink:hover {
    transform: scale(1.15);
    background-color: #718EA4;
    border-radius: 10%;
}

canvas {
    display: block;
    margin: auto;
    padding: 20px;
}

@keyframes bounce {
    
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
}